/* extra small device */
@media (max-width: 575.98px) { 

    .navbar {
        background-image: linear-gradient(#fce38a,#f38181);
    }
    .banner_text h4 {
        font-size: 30px;
    }
    .banner_text h2 {
        font-size: 40px;
    }
    .banner_item img {
        height: 580px;
    }
    .banner_text {
        margin-top: 180px;
    }
    .navbar-toggler i{
        color: #fff;
        font-size: 25px;
    }
    .navbar-toggler {
        border: none;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    #about {
        padding: 45px 0 45px 0;
    }
    .about_heading h2 {
        font-size: 20px;
    }
    .about_heading p {
        padding: 0 15px;
        margin-bottom: 35px;
    }
    .about_item {
        margin-bottom: 10px;
    }
    #count {
        padding: 45px 0;
    }
    #servie {
        padding: 45px 0;
    }
    .service_heading h2 {
        font-size: 20px;
        margin-bottom: 90px;
    }
    .msg_info p {
        font-size: 20px;
    }
    #team {
        padding: 45px 0;
    }
    .team_heading h2 {
        font-size: 20px;
    }
    .team_heading p {
        font-size: 15px;
        padding: 0 16px;
        margin-bottom: 35px;
    }
    .team_icon a {
        padding: 10px;
    }
    .team_item {
        margin-bottom: 10px;
    }
    .workHeading h2 {
        font-size: 20px;
        margin-bottom: 70px;
    }
    .workHeading p {
        font-size: 15px;
        padding: 0 15px;
        margin-bottom: 20px;
    }
    #work {
        padding-bottom: 45px;
    }
    .blog_item h2 {
        margin-bottom: 10px;
    }
    .blog_text h4 {
        margin-top: 10px;
    }
    .insta_item h4 {
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .last_item h4 {
        font-size: 13px;
    }

 }



 /* small device */
 @media (min-width: 576px) and (max-width: 767.98px) { 
    
    .navbar {
        background-image: linear-gradient(#fce38a,#f38181);
    }
    .navbar-toggler i{
        color: #fff;
        font-size: 25px;
    }
    .navbar-toggler {
        border: none;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .banner_item img {
        height: 800px;
    }
    .banner_text h4 {
        font-size: 50px;
    }
    .banner_text h2 {
        font-size: 80px;
    }
    #about {
        padding: 50px 0 50px 0;
    }
    .about_heading p {
        padding: 1px 45px;
        margin-bottom: 25px;
    }
    .about_item {
        margin-bottom: 10px;
    }
    #count {
        padding: 50px 0;
    }

    #servie {
        padding: 50px 0;
    }
    #team {
        padding: 50px 0;
    }
    .team_heading p {
        padding: 0 45px;
        margin-bottom: 35px;
    }
    .team_item {
        margin-bottom: 10px;
    }
    .workHeading p {
        padding: 0 30px;
        margin-bottom: 30px;
    }
    #work {
        padding-bottom: 50px;
    }
    .blog_item h2 {
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .blog_text {
        margin-top: 20px;
    }
    .insta_item h4 {
        margin-bottom: 5px;
        margin-top: 20px;
    }

  }


   /* medium device */
 @media (min-width: 768px) and (max-width: 991.98px) { 

    .navbar {
        background-image: linear-gradient(#fce38a,#f38181);
    }
    .navbar-toggler i{
        color: #fff;
        font-size: 25px;
    }
    .navbar-toggler {
        border: none;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }

    .banner_text h2 {
        font-size: 90px;;
    }
    .banner_item img {
        height: 850px;
    }
    .about_heading p {
        font-size: 19px;
        margin-bottom: 45px;
    }
    .about_item {
        margin-bottom: 10px;
    }
    #about {
        padding: 90px 0 90px 0;
    }
    #servie {
        padding: 60px 0;
    }
    .msg_info p {
        font-size: 20px;
    }
    #team {
        padding: 60px 0;
    }
    .team_heading p {
        font-size: 23px;
        margin-bottom: 50px;
    }
    .team_icon a {
        padding: 6px;
    }
    .workHeading p {
        font-size: 23px;
        margin-bottom: 50px;
    }

    .work_item_text h6 {
        font-size: 15px;
    }
    .work_item_text p {
        font-size: 15px;
        margin-top: 10px;
        line-height: 16px;
    }
    .blog_item h2 {
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .blog_text h4 {
        font-size: 20px;
        margin-top: 40px;
    }
    .blog_text p {
        font-size: 20px;
    }
    .insta_item h4 {
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .last_item h4 {
        font-size: 20px;
    }
    .footer_item1 p {
        font-size: 18px;
    }
    .footer_item1 h5 {
        font-size: 18px;
    }























 }
    